*{
    margin: 0;
}
h1, h2{
    font-family: Shadows Into Light;
    color: white;
}
a, p{
    font-family: open sans;
    color: white;
}
h1{
    font-size: 4em;
}
h2{
    font-size: 2em;
}
p{
    font-size: 20px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color: red;
}
a svg:hover{
    fill: red;
}

/* header */
header{
    height: 100vh;
    background-image:url(IMG/backpack-mountain.jpg);
    box-shadow: inset 0 0 0 10000px #0000009d;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    position: relative;
}
nav{
    width: 100%;
    top: 0%;
    position: absolute;
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
li{
    font-size: 16px;
    margin: 5px 10px;
}
svg{
    height: 2em;
    fill: white;
}
.header1{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* preparation */
#preparation{
    background-color: #0D4A80;
    text-align: center;
    padding: 75px 100px;
}
#preparation h2{
    margin: 25px;
}
.texte{
    margin: auto;
    max-width: 65%;
}
#preparation svg{
    margin: 50px;
    height: 50px;
}
.passeport{
    fill: #03A696;
}
.route{
    fill: #F2B705;
}
.panneaux{
    fill: #C7D93D;
}

/* etapes */
#etapes{
    background-color: #042645;
}
img{
    width: 40%;
}
#etapes h2, .locate{
    display: inline;
    margin-left: 30px;
}
#etapes p{
    border-top: solid;
    padding-top: 20px;
    margin-top: 20px;
}
.destination{
    width: 50%;
    margin: 50px;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* footer */
footer{
    position: relative;
    background-color: #0D4A80;
}
.footer{
    display: flex;
    justify-content: space-around;
    height: 200px;
    padding-top: 50px;
}
footer h2{
    padding-bottom: 20px;
}
.block{
    display: block;
}
.reseau{
    margin: auto 20px;
}
.top{
    position: absolute;
    right: 5%;
    top: 50%;
    fill: rgba(255, 255, 255, 0.527);
}
footer p{
    text-align: center;
    padding: 10px;
    border-top: solid #ffffff4f;
}